body{
    background-color: pink;
    font-family: sans-serif;
    text-align: center;
    
}

nav {
    height: 5em;
    background-color: white;
  
}

nav li{
    display: inline;
    margin-right: 5em;
}

nav li a{ text-decoration: none; }

.logo{
    font-weight: bold;
    color: aqua;
}

.output{
    width: 500px;
    height: 50px;
    margin: 20vh auto;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
